<a class="text-decoration-none @CssClass" 
    data-toggle="collapse" 
    href="@href" 
    role="button" 
    aria-expanded="@Expanded" 
    aria-controls="@IdentifierToCollapse" 
    @onclick="OnClick">
        @ChildContent
</a>
