<div class="progress-overlay d-block w-100 h-100">
    <div class="progress-container w-100 text-center"> 
        <div class="progress progress-line w-25">
            <div class="progress-bar background-color-getinge-blue" role="progressbar" style="width: @CalculateWidth()%" aria-valuenow="@Progress" aria-valuemin="0" aria-valuemax="@Amount"></div>
        </div>
        <p class="pt-12px">@Message</p>
    </div>
</div>
