<div id="@Identifier.FirstCharToLowerCase()" class="splitter row flex-nowrap w-100">
    <div class="left-wrapper">
        <div class="left-handle h-100">
            @LeftSideFragment
        </div>
    </div>
    <div class="right-wrapper">
        @RightSideFragment
    </div>
</div>