@import "../../Scss/iws-variables";

.details-header-block {
    border-bottom: 1px solid $color-clay;
}

.details-footer-block {
    border-top: 1px solid $color-cliff;
}

.media-icon-size {
    max-width: 200px;
    max-height: 100px;
}