@import "../../../TDOC.Resources/Scss/td-variables";

// Override default font size
$font-size: 12px;
// Footer ToolbarButtonsPanel height.
$height-main-footer: 44px;
// Override default grid row/header height
$grid-row-height: 30px;