@using ScannerClient.WebApp.Scanners.ScannerSimulator

<h1>Human Interface Device scanner</h1>

<div class="row">
    To configure scanner:
</div>
<div class="row">
    <img src="img/scanner/usbKeyboard.png" />
</div>
<div class="row">
    <NavLink href="https://barcode.tec-it.com/en/Code128" target="_blank">Online barcode generator</NavLink>
</div>

<div class="row pt-12px">
    <label>
        Barcode:
        <ScannerSimulator AfterProcessBarcode="async (value) => { AddHIDBarcode(value); }" />
    </label>
</div>
<div class="row pt-12px">
    <table class="table">
        <thead>
            <tr>
                <th>Device type</th>
                <th>Code type</th>
                <th>Code value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var barcodeData in HIDBarcodes)
            {
                <tr>
                    <td>@barcodeData.DeviceType</td>
                    <td>@barcodeData.CodeType</td>
                    <td>@barcodeData.CodeValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>