$color-night-rider: #333333;
$color-getinge-blue: #18274A;
$color-douche-blue: #2B3C5E;
$color-granit: #595857;
$color-midnight-dark: #35465E;
$color-midnight: #495A6B;
$color-chambray: #55637E;
$color-midnight-light: #748391;
$color-midnight-pale: #A0ACB6;
$color-mist: #D0D6DA;
$color-snow: #E9E4E3;
$color-grass-dark: #586D32;
$color-grass: #94B654;
$color-grass-light: #B7CC8B;
$color-grass-pale: #D8E2BF;
$color-ocean: #31B7BC;
$color-ocean-light: #8ACED1;
$color-ocean-pale: #C2E4E5;
$color-signal-red-dark: #81434D;
$color-signal-red: #D82121;
$color-poppy: #E94F35;
$color-sun: #f39200;
$color-mist-pale: #F3F4F5;
$color-mist-light: #DCE1E4;
$color-transparent: #00000000;
$color-white: #FFFFFF;
$color-oat: #D4CAC8;
$color-clay: #BFB1AC;
$color-cliff: #8B7E79;
$color-white-10pct: rgba(255,255,255,0.9);
$color-black: #000000;