// Default font size
$font-size: 16px;
// Default line-height
$line-height: 1.5;
// MainHeader height.
$height-main-header: 64px;
// MainHeader z index.
$z-index-main-header: 2;
// TdMenu height.
$height-main-menu: 30px;
// SideSearchPanel width.
$width-side-search-panel: 494px;
// SideSearchPanel collapsed width.
$width-side-search-panel-collapsed: 50px;
// SideSearchPanel collapsed and streched width.
$width-side-search-panel-collapsed-stretched: 32px;
// NotificationPanel height.
$height-notification: 120px;
// Default grid row/header height
$grid-row-height: 36px;
// Default TdTextBox clear btn size.
$size-td-textbox-clear-btn: 30px;
// Default TdTextBox clear btn size.
$size-td-textbox-clear-icon: 18px;